// http://ionicframework.com/docs/v2/theming/

.item-inner {
  border-bottom: 0px !important;
  padding: 0px !important;
}

ion-label {
  border: 0px !important;
  margin: 0px 0px 5px 0px !important;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$Tutorial-1: 'tp1.svg';
$Tutorial-2: 'tp2.svg';
$Tutorial-3: 'tp3.svg';
$Tutorial-4: 'tp4.svg';
$Tutorial-5: 'tp5.svg';

$Sign-In-Logo: 'sign_in.svg';
$Sign-Up-Logo: 'sign_up.svg';
$Sign-Bg: 'bg.jpg';//'sign_bg.svg';

$Menu-Home-On: 'home_on.png';
$Menu-Home-Off: 'home_off.png';

$Menu-Notification-On: 'notifications_on.png';
$Menu-Notification-Off: 'notifications_off.png';

$Menu-Service-On: 'services_on.png';
$Menu-Service-Off: 'services_off.png';

$Menu-History-On: 'history_on.png';
$Menu-History-Off: 'history_off.png';

$Menu-Vehicle-On: 'vehicles_on.png';
$Menu-Vehicle-Off: 'vehicles_off.png';

$Menu-Coupon-On: 'coupon_on.png';
$Menu-Coupon-Off: 'coupon_off.png';

$Menu-Payment-On: 'payment_on.png';
$Menu-Payment-Off: 'payment_off.png';

$Menu-Setting-On: 'settings_on.png';
$Menu-Setting-Off: 'settings_off.png';

$Menu-About-On: 'about_on.png';
$Menu-About-Off: 'about_off.png';

$Logo-White: 'white.png';
$Logo-Dark-Navy-Blue: 'dark_navy_blue.png';
$Logo-Light-Grey-Blue: 'light_grey_blue.png';

$Payment-Amex: 'payment_amex.png';
$Payment-Visa: 'payment_visa.png';
$Payment-Master: 'payment_master.png';

$Home-On-Demand: 'ondemand.jpg';
$Home-Reserve: 'reserve.jpg';
$Home-Reserve-Temp: 'reserve-temp.jpg';

$Coupon-Gift: 'gift.jpg';
$Coupon-Tag: 'tag.jpg';

$State-NJ: 'state/NJ.png';

@function image($name) {
    @return url('../assets/images/#{$name}');
}

@function icon($name) {
    @return url('../assets/images/icon/#{$name}');
}

@function logo($name) {
    @return url('../assets/images/logo/#{$name}');
}

@function tutorial($name) {
    @return url('../assets/images/tutorial/#{$name}');
}

@mixin appearance($content) {
    -webkit-appearance: $content;
    -moz-appearance: $content;
    appearance: $content;
}

@mixin placehoder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

// Use Century-Gothic as eGobie app's default font
$century-gothic-font-path: "../assets/fonts/Century_Gothic" !default;
@font-face {
  font-family: "eGobieFont";
  src: url("#{$century-gothic-font-path}/Century_Gothic.eot");
  src: url("#{$century-gothic-font-path}/Century_Gothic.eot?#iefix") format("embedded-opentype"),
       url("#{$century-gothic-font-path}/Century_Gothic.woff2") format("woff2"),
       url("#{$century-gothic-font-path}/Century_Gothic.woff") format("woff"),
       url("#{$century-gothic-font-path}/Century_Gothic.ttf") format("truetype"),
       url("#{$century-gothic-font-path}/Century_Gothic.svg#eGobieFont") format("svg");
}

* {
  font-family: eGobieFont !important;
}

.egobie-90 {
  width: 90%;
}

.egobie-full-page {
  width: 100%;
  height: 100%;
}

.egobie-center {
  display: block;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.egobie-left {
  float: left;
}

.egobie-right {
  float: right;
}

.egobie-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(15, 16, 37, 0.55);
  z-index: -100;
}

.egobie-error {
  .toast-message {
    color: red;
    font-size: 14px;
    border-radius: 5px;
    background: transparent;
  }
}

.egobie-header {
  ion-toolbar {
    .toolbar-background {
      background-color: rgba(0, 0, 0, 0.75) !important;
      border: 0px !important;
    }

    ion-title div.toolbar-title, button {
        color: #FFFFFF !important;
    }

    ion-title div.toolbar-title {
      font-size: 14px;
    }
  }
}

.egobie-form {
  background-color: rgba(147, 153, 156, 0.10);

  ion-list {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  div.scroll-content {
    margin-top: 44px;
  }
}

.egobie-form-mask {
  @extend .egobie-full-page;

  background-color: #FFFFFF;
}

.egobie-form-input {
  @extend .egobie-center;
  @extend .egobie-90;

  border: 0px !important;
  padding: 0px;
  margin-top: 10px;
  background: transparent;

  ion-icon {
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    margin-right: -3px;
    color: #FFFFFF;
    background-color: rgb(5, 10, 16);
  }

  input {
    @include placehoder-color(#93999C);

    height: 40px;
    width: 100%;
    color: #FFFFFF;
    padding-left: 10px;
    font-size: 14px;
    border: 0px;
    background-color: rgba(12,21,23,0.6);
    vertical-align: bottom;
  }
}

.egobie-form-button {
  @extend .egobie-center;
  @extend .egobie-90;

  background: rgba(17, 18, 19, 0.66);
  color: #FFFFFF;

  &.activated {
    background-color: rgba(17, 18, 19, 0.66) !important;
  }
}
